In [1]:
import pandas as pd
import sqlite3

# Подключение к базе данных SQLite
conn = sqlite3.connect('database.sqlite')

cursor = conn.cursor()

# Выполнение запроса к системной таблице sqlite_master
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

tables = cursor.fetchall()

for table in tables:
    print(table[0])

sqlite_sequence
Player_Attributes
Player
Match
League
Country
Team
Team_Attributes

In [2]:
match = pd.read_sql('SELECT * FROM Match', conn)
match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [5]:
match.shape

(25979, 115)

In [6]:
match.dropna(subset=['home_player_X1'], inplace=True)

In [7]:
match['date'] = pd.to_datetime(match['date'])

In [9]:
match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
144,145,1,1,2008/2009,24,2009-02-28,493016,9996,8635,1,...,1.62,5.00,3.40,1.60,5.25,3.60,1.60,5.50,3.60,1.53
145,146,1,1,2008/2009,24,2009-02-27,493017,8203,9987,2,...,2.30,2.65,3.25,2.35,2.90,3.25,2.30,2.80,3.20,2.25
146,147,1,1,2008/2009,24,2009-02-28,493018,9986,9998,3,...,4.10,1.90,3.25,3.75,1.83,3.25,4.25,1.91,3.25,3.60
147,148,1,1,2008/2009,24,2009-03-01,493019,9985,9984,4,...,6.50,1.40,3.75,7.50,1.45,3.75,7.50,1.40,3.75,7.50
148,149,1,1,2008/2009,24,2009-03-01,493020,9994,9991,0,...,2.50,2.80,3.25,2.30,2.65,3.20,2.50,2.62,3.20,2.38

In [14]:
match.loc[match['season'].isin(['2015/2016', '2014/2015'])].head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
1248,1249,1,1,2014/2015,1,2014-07-25,1717817,9985,9986,3,...,7.00,1.33,4.8,8.00,NaN,NaN,NaN,NaN,NaN,NaN
1249,1250,1,1,2014/2015,1,2014-07-26,1717818,8475,8342,0,...,1.83,4.20,3.6,1.80,NaN,NaN,NaN,NaN,NaN,NaN
1250,1251,1,1,2014/2015,1,2014-07-26,1717819,9984,9991,0,...,1.95,3.75,3.5,1.95,NaN,NaN,NaN,NaN,NaN,NaN
1251,1252,1,1,2014/2015,1,2014-07-26,1717820,9989,8573,2,...,2.88,2.38,3.2,2.90,NaN,NaN,NaN,NaN,NaN,NaN
1252,1253,1,1,2014/2015,1,2014-07-26,1717821,10001,9994,1,...,2.25,3.00,3.4,2.25,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
columns_for_drop = ['goal',
 'shoton',
 'shotoff',
 'foulcommit',
 'card',
 'cross',
 'corner',
 'possession',
 'B365H',
 'B365D','B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD','PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'SJH',
 'SJD',
 'SJA',
 'VCH',
 'VCD',
 'VCA','GBH',
 'GBD',
 'GBA',
 'BSH',
 'BSD',
 'BSA']
match.drop(columns=columns_for_drop, inplace=True)

In [31]:
match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
3248,3249,1729,1729,2012/2013,1,2012-08-18,1228229,9825,8472,0,...,25075.0,33863.0,24150.0,30352.0,24157.0,35443.0,25150.0,160243.0,175947.0,33468.0
3249,3250,1729,1729,2012/2013,1,2012-08-20,1228230,8668,10260,1,...,35327.0,30865.0,34944.0,32569.0,30373.0,40945.0,30829.0,144993.0,160713.0,113836.0
3250,3251,1729,1729,2012/2013,1,2012-08-18,1228231,9879,9850,5,...,24903.0,72417.0,34275.0,23727.0,23629.0,46354.0,24583.0,47194.0,32728.0,24698.0
3251,3252,1729,1729,2012/2013,1,2012-08-19,1228232,8456,8466,3,...,157838.0,26552.0,45418.0,23823.0,279490.0,46893.0,37234.0,24501.0,109491.0,35345.0
3252,3253,1729,1729,2012/2013,1,2012-08-18,1228233,10261,8586,2,...,159833.0,26108.0,38835.0,40006.0,156727.0,115681.0,30895.0,157729.0,31921.0,30348.0